[MASTER]
# Add the current directory to the Python path
init-hook='import sys; sys.path.append(".")'

# Exclude directories from pylint checks
ignore=venv,tests

[MESSAGES CONTROL]
# Disable specific pylint warnings
disable=missing-docstring,invalid-name,too-few-public-methods,too-many-arguments,too-many-instance-attributes

[REPORTS]
# Set output format and report settings
output-format=colorized
reports=yes

[DESIGN]
# Design-related configurations
max-parents=15
max-attributes=10
min-public-methods=0
max-public-methods=20

[BASIC]
# Naming conventions
variable-rgx=[a-z_][a-z0-9_]{0,30}$
function-rgx=[a-z_][a-z0-9_]{2,50}$
argument-rgx=[a-z_][a-z0-9_]{1,30}$
method-rgx=[a-z_][a-z0-9_]{2,50}$
module-rgx=[a-z_][a-z0-9_]{1,30}$

[FORMAT]
# Maximum allowed line length
max-line-length=120
